################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TenantAPI/Properties/PublishProfiles/supplyrx-tenant - Zip Deploy.pubxml
