<nav class="navbar navbar-light bg-light border-bottom">    
  <!-- Logo Section for XS Screens -->
  <a class="navbar-brand d-block d-sm-none" href="/"><img class="site-logo" src="./assets/supplyRX_logo.png" /></a>  
  <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Logo Section for SM & Up Screens -->
  <a class="navbar-brand d-none d-sm-block" href="/"><img class="site-logo" src="./assets/supplyRX_logo.png" /></a>  
  <div class="navbar-expand ml-auto navbar-nav">  
    <div class="navbar-nav">  
        <div class="nav-item mt-1 mr-2">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="site-search">
            <div class="input-group-append">
              <span class="input-group-text" id="site-search"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
      <a class="nav-item nav-link" href="#" target="_blank">  
        <i class="fa fa-bell"></i>&nbsp;
      </a>  
      <a class="nav-item nav-link border-left" href="#" target="_blank">  
          &nbsp;<i class="fa fa-user"></i>&nbsp;&nbsp;<span class="font-weight-bold">SRX Admin</span>
      </a>
    </div>  
  </div>  
</nav>