<nav class="bg-light min-vh-md-100">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="home" routerLinkActive="font-weight-bold">
                  <i class="fa fa-home"></i>&nbsp;&nbsp;
                  Home
                </a>
              </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="projects" routerLinkActive="font-weight-bold">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;Projects
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-secondary" routerLink="administration" routerLinkActive="font-weight-bold">
                      <i class="fa fa-cog"></i>&nbsp;&nbsp;Administration
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="reporting" routerLinkActive="font-weight-bold">
                        <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Reporting
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-secondary" routerLink="support" routerLinkActive="font-weight-bold">
                          <i class="fa fa-support"></i>&nbsp;&nbsp;Support
                      </a>
                    </li>
        </ul>
      </div>
</nav>